<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Default meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Platform</title>

  <!-- For share largeish helper code for compiling async/await in older browsers -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!-- CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">

  <!-- For system js import maps -->
  <meta name="importmap-type" content="systemjs-importmap" />

  <!-- Shared dependencies -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>

  <!-- For single spa preloading -->
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <% if (isLocal) { %>
    <!-- Here is local environments microfrontends in-browser modules urls -->
    <script type="systemjs-importmap">
      {
        "imports": {
          "@platform/user-management": "//localhost:9001/platform-user-management.js",
          "@platform/root-config": "//localhost:9000/platform-root-config.js"
        }
      }
    </script>
  <% } else { %>
    <!-- Include in src url to production import map -->
    <script type="systemjs-importmap" src="/importmap.json?env=production"></script>
  <% } %>

  <% if (isLocal) { %>
    <!-- Import maps overrides for local development -->
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>

  <!-- Using Date.now() for caching issues  -->
  <script src="./env.js?v=<%= Date.now() %>"></script>
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <script>
    // Importing root config file for configurations
    System.import('@platform/root-config');
  </script>

  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
